<h2>Basics</h2>
<hr>

<div class="row">
    <div class="col">

        <form [formGroup]="reactiveForm" (ngSubmit)="onSave()" autocomplete="off">

            <!-- PRODUCT NAME -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Product</label>
                <div class="col-sm-9">

                    <input type="text"
                          class="form-control"
                          formControlName="name"
                          placeholder="Product Name">

                    <span *ngIf="isNotValidField('name')" class="form-text text-danger">
                        {{ getFieldError('name') }}
                    </span>
                </div>
            </div>

            <!-- PRODUCT PRICE-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Price</label>
                <div class="col-sm-9">
                    <input type="number"
                          class="form-control"
                          formControlName="price"
                          placeholder="Product price">

                    <span *ngIf="isNotValidField('price')" class="form-text text-danger">
                        Price must be >= 0
                    </span>
                </div>
            </div>

            <!-- Stock -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Stock</label>
                <div class="col-sm-9">
                    <input type="number"
                          class="form-control"
                          formControlName="inStorage"
                          placeholder="Stock">

                    <span *ngIf="isNotValidField('inStorage')" class="form-text text-danger">
                        Stock must be >= 0
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Save
                    </button>
                </div>
            </div>



        </form>

    </div>
</div>


<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ reactiveForm.valid| json }}</pre>

        <span>Pristine</span>
        <pre>{{ reactiveForm.pristine| json }}</pre>

        <span>Touched</span>
        <pre>{{ reactiveForm.touched| json }}</pre>

        <span>Value</span>
        <pre>{{ reactiveForm.value| json }}</pre>

        <span>Product</span>
        <pre>{{ reactiveForm.controls['name'].value | json }}</pre>

        <span>Product - Errors</span>
        <pre>{{ reactiveForm.controls['name'].errors| json }}</pre>

        <span>Price</span>
        <pre>{{ reactiveForm.controls['price'].value | json }}</pre>

        <span>Price - Errors</span>
        <pre>{{ reactiveForm.controls['price'].errors | json }}</pre>

    </div>
</div>
